
/* Styles for Secondary Navigation bar */

.secondary-nav {
    width: 99.8%;
    height: 78px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.avatar {
    border-radius: 40px
}

.filter {
    width: 115px;
    height: 37.5px;
    border-radius: 8px;
    box-shadow: 0px 0px 0px 1px #D8DDE2 inset;
    padding: 8px
}

button {
    border: none;
    background-color: white
}

.img-buttons {
    width: 95.64px;
    height: 38px;
    box-shadow: 0px 0px 0px 1px #D8DDE2 inset;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-evenly
}

.secondary-nav-b {
    display: flex;
    width: 70%;
    justify-content: space-evenly;
}

.secondary-nav-b>a {
    padding: 6px;
    border-radius: 8px
}

.secondary-nav-b>a:nth-child(1) {
    color: #3A8BBB;
    background-color: #E2EEF5;
}

.secondary-nav-b>a:hover {
    color: #3A8BBB;
    background-color: #E2EEF5;
}

.secondary-nav-c {
    display: flex;
    width: 200px;
    align-items: center;
    justify-content: space-evenly
}



.secondary-nav-a {
    margin-left: 15px;
}

/* ::-webkit-scrollbar {
    background: transparent;
} */

.secondary-nav-mobile>a:nth-child(1) {
    color: #3A8BBB;
    background-color: #E2EEF5;
}

.secondary-nav-mobile>a:hover {
    color: #3A8BBB;
    background-color: #E2EEF5;
}

.secondary-logo {
    position: relative;
    bottom: 20px;
    width: 10px;
    left: 45%;
}