<section class="main-contents">
  <span class="current-task">
      {{'kra-home.current-kra' | translate}}
  </span>
  <div class="time-periods">
    <span class="set">{{'kra-home.kra-set' | translate}}</span>
    <span class="year">{{'kra-home.year' | translate}} {{'kra-home.slash' | translate}} {{'kra-home.quarter' | translate}}</span>
  </div>

  <div class="status-graph">
    <span class="circle">1</span>
    <span class="connecting-lines"></span>
    <span class="circle">2</span>
    <span class="connecting-lines"></span>
    <span class="circle">3</span>
  </div>

  <div class="table-header">
    <span class="table-heading">{{'kra-home.serial-number' | translate}}</span>
    <div class="table-sub-heading">
      <div class="contents kra">{{'kra-home.kra' | translate}}</div>
      <div class="contents self-gyan">{{'kra-home.self-gyan' | translate}}</div>
      <div class="contents way-forward">{{'kra-home.way-forward' | translate}}</div>
    </div>
  </div>
  <div class="table-contents">
    <span class="heading">1.</span>
    <div class="table-sub-contents">
      <div class="content">
        Improve your oral & written communication
        (e-mail, Status Update, JIRA comments, Documentation).
      </div>
      <div class="content">
        In most organized forms of writing, such as essays,
        paragraphs contains a topic sentence. This topic
        sentence of the paragraph tells the reader what the
        paragraph reader what the paragraph will be about.

      </div>
      <div class="content">
        In most organized forms of writing, such as essays,
        paragraphs contains a topic sentence. This topic
        sentence of the paragraph tells the reader what the
        paragraph reader what the paragraph will be about. </div>
    </div>
  </div>
  <div class="table-contents">
    <span class="heading">2.</span>
    <div class="table-sub-contents">
      <div class="content">
        NVEnergy Tasks Delivery /
        Understanding the requirements /
        Defect resolution without any side-effects.

      </div>
      <div class="content">
        In most organized forms of writing, such as essays,
        paragraphs contains a topic sentence. This topic
        sentence of the paragraph tells the reader what the
        paragraph reader what the paragraph will be about.

      </div>
      <div class="content">
        In most organized forms of writing, such as essays,
        paragraphs contains a topic sentence. This topic
        sentence of the paragraph tells the reader what the
        paragraph reader what the paragraph will be about.

      </div>
    </div>
  </div>
  <div class="table-contents">
    <span class="heading">3.</span>
    <div class="table-sub-contents">
      <div class="content">
        Get hands-on experience in Angular 7 / Ionic 4.
      </div>
      <div class="content">
        In most organized forms of writing, such as essays,
        paragraphs contains a topic sentence. This topic
        sentence of the paragraph tells the reader what the
        paragraph reader what the paragraph will be about.
      </div>
      <div class="content">
        In most organized forms of writing, such as essays,
        paragraphs contains a topic sentence. This topic
        sentence of the paragraph tells the reader what the
        paragraph reader what the paragraph will be about.
      </div>
    </div>
  </div>
</section>
