<section class="main-section">
  <span class="current-status">
        {{'mail-box.check-mail' | translate}}
  </span>
  <div class="main-contents">
    <div class="check-mail">
      <p>
        {{'mail-box.check-mailbox' | translate}}
     </p>
      <a  routerLink="/set" class="ripple">{{'mail-box.mail-page' | translate}}</a>
    </div>
    <div class="avatar">
      <img src="assets/img/checks-in-the-mail.png" alt="Check-Your-Mail" />
    </div>
  </div>
</section>

<!-- <a href="https://mail.google.com"></a> -->