<section class="main-section">
		<span class="current-task"> 
				{{'set-password.set-pass' | translate}}
        </span>
		<div class="main-contents">
			<div class="set-password">
				<form name="set-form" class="set-password__form" #setPassword="ngForm">

					<div class="form-group">
						<input class="given-text" type="text" name="user-mail" id="user-mail" value="akgyjz@gmail.com" readonly />
						<label for="user-mail" class="text-label">{{'set-password.email' | translate}}</label>
					</div>

					<div class="form-group">
						<input class="input-text" type="password" name="new-pwd" id="new-pwd" required /> 
						<label for="new-pwd" class="input-label">{{'set-password.new-password' | translate}}</label>
					</div>

					<div class="form-group">
						<input class="input-text" type="password" name="confirm-pwd" id="confirm-pwd" required /> 
						<label for="confirm-pwd" class="input-label">{{'set-password.confirm-password' | translate}}</label>
	
						<div *ngIf="warning" class="alert" id="alert">
								<p id="alertText">				
										{{'set-password.password-mismatch' | translate}}
								</p>
							</div>					
					</div>
					<button type="submit" name="submit" class="ripple" routerLink="/password-changed">{{'set-password.submit' | translate}}</button>

				</form>
			</div>
			<div class="avatar">
				<img src="assets/img/Asset-Set Password.svg" />
			</div>
		</div>
	</section>
