<div class="current-kra shadow">
  <div class="topic">
    <p>{{'self-gyaan.title' | translate}}</p>
  </div>
  <div>
    <div class="set">
      <div>{{'self-gyaan.kra-set' | translate}}</div>
      <div class="year">
        <p> {{'self-gyaan.year' | translate}}2019 / {{'self-gyaan.quarter' | translate}}1</p>
      </div>
    </div>
    <div class="progress">
      <div class="progress-img">
        <ul>
          <li class="circle progress-img number">1</li>
          <li class="other-circle update circle progress-img number">2</li>
          <li class="other-circle circle progress-img number">3</li>
        </ul>
      </div>

    </div>
    <div class="display-kra">
      <div class="table-topic">
        <div class="no">
          <p>{{'self-gyaan.priority' | translate}}</p>
        </div>
        <div class="kra-topic">
          <p>{{'self-gyaan.kra' | translate}}</p>
        </div>
        <div class="self-gyaan-topic">
          <p>{{'self-gyaan.self-gyaan' | translate}}</p>
        </div>
        <div class="way-forward-topic">
          <p>{{'self-gyaan.way-forward' | translate}}</p>
        </div>
      </div>
      <form #mentee="ngForm" [formGroup]="form" >
        <div *ngFor="let kra of kraList;let kraRow=index" class="form-row">
        <div class="table-row"  >
            <div class="display-number"><p> {{kraRow+1}}. </p> </div>
            <div class="kra-data"><p> {{kra.value}} </p></div>
            <div class="self-gyaan-text"><p>
            <textarea class="self-gain form-control" rows="4" cols="4" name="selfGyaan1" [formControlName]="kraRow"
              required></textarea>
            </p>
          </div>
            <div class="way-forward-section">
                <p>
                  -
                </p>
              </div>
        </div>
        </div>

<!--
        <div class="table-row">
          <div class="display-number">
            <p>3.</p>
          </div>
          <div class="kra-data">
            <p>Improve your oral & written communication(e-mail, Status updates, JIRA
              comments, Documentation)</p>
          </div>
          <div class="self-gyaan-text">
            <p>
              <textarea ngModel #selfGyaan3="ngModel" class="self-gain" name="selfGyaan3" rows="4" cols="4" required></textarea>
            </p>
            <div *ngIf="selfGyaan3.invalid && selfGyaan3.touched" class="alert">
              <p id="alertText">
                {{'self-gyaan.invalid' | translate}}
              </p>
            </div>
          </div>
          <div class="way-forward-section">
            <p>
              -
            </p>
          </div>
        </div>
      -->

      <div class="end">
        <input class="cancel-button ripple-save save" type="submit" value="SAVE">
        <input class="submit ripple" [disabled]="!form.valid" [ngClass]="{'enableButton':form.valid , 'disableButton':!form.valid}"type="submit" value="SUBMIT">
      </div>
    </form>
    </div>

  </div>

</div>
