  <section>
    <div class="forget-password-card">

      <form id="form" class="form" (ngSubmit)="onSubmit(form)" #form="ngForm" class="forget-password-form">
        <h2>{{ 'set-password-component.set-password' | translate }}</h2>
        <div class="form">
          <div class="name-input">
            <div class="text-input">
              <input value="ashwin@ztech.io" id="email" name="email" tabindex="3" class="input-text" type="text"
                readonly>
            </div>
          </div>

          <div class="password-input">
            <div class="text-input">
              <input name="newPassword" minlength="8" [pattern]="passwordPattern" maxlength="16" ngModel
                #newPassword="ngModel" tabindex="4" class="input-text" type="password" required>
              <span class="highlight"></span>
              <span class="bar"></span>
              <label [ngClass]="{'move-label': newPassword.errors?.pattern}" class="input-label">{{ 'set-password-component.new-password' | translate }}</label>
            </div>
            <div *ngIf="newPassword.touched && !newPassword.valid">
              <div class="error-div" *ngIf="newPassword.errors.required">Enter a <strong>VALID</strong> Password.</div>
              <div class="error-div" *ngIf="newPassword.errors.minlength">Password must be atleast
                {{ newPassword.errors.minlength.requiredLength }} long.</div>
              <div class="error-div" *ngIf="newPassword.errors.pattern">Password must contain max of 8 chars, a number,
                a special char and a uppercase letter.</div>
            </div>
          </div>

          <div class="password-input">
            <div class="text-input">
              <input name="confirmPassword" minlength="8" maxlength="16" ngModel #confirmPassword="ngModel"
                [pattern]="passwordPattern" tabindex="4" class="input-text" type="password" required>
              <span class="highlight"></span>
              <span class="bar"></span>
              <label [ngClass]="{'move-label': confirmPassword.errors?.pattern}" class="input-label">{{ 'set-password-component.confirm-password' | translate }}</label>
            </div>
            <div *ngIf="confirmPassword.touched && !confirmPassword.valid">
              <div class="error-div" *ngIf="confirmPassword.errors.required">Enter a <strong>VALID</strong> Password.
              </div>
              <div class="error-div" *ngIf="confirmPassword.errors.minlength">Password must be atleast
                {{ confirmPassword.errors.minlength.requiredLength }} long.</div>
              <!-- <div class="error-div" *ngIf="confirmPassword.errors.pattern">Password must contain max of 8 chars, a number, a special char and a uppercase letter.</div> -->
            </div>
          </div>

          <div class="submit-button">
            <button [disabled]="!form.form.valid" tabindex="6" class="submit ripple">
              {{ 'set-password-component.submit' | translate }}
            </button>
          </div>

        </div>
      </form>

      <div class="forget-password-image">
        <img width="100%" height="100%" src="assets/img/image-set-password.svg" alt="">
      </div>

    </div>
  </section>
