<section class="main-section">
        <span class="current-task">
             {{'notifications.task' | translate}}
        </span>
        <div class="main-contents">
            <div class="cards-list">
                <div class="card">

                    <div class="card_title">
                        <p>1.</p>
                    </div>
                    <div class="card_content">
                        <p>In most organized forms of writing, such as essays, paragraphs contains a topic sentence.
                            This topic sentence of the paragraph tells the reader what the paragraph reader what the
                            paragraph will be about.
                        </p>
                    </div>
                </div>

                <div class="card">

                    <div class="card_title">
                        <p>2.</p>
                    </div>
                    <div class="card_content">
                        <p>
                            Improve your oral & written communication (e-mail, Status Update, JIRA comments, Documentation).
                        </p>
                    </div>
                </div>

                <div class="card">

                    <div class="card_title">
                        <p>3.</p>
                    </div>
                    <div class="card_content">
                        <p>In most organized forms of writing, such as essays, paragraphs contains a topic sentence.
                            This topic sentence of the paragraph tells the reader what the paragraph reader what the
                            paragraph will be about.
                        </p>
                    </div>
                </div>

                <div class="card">

                    <div class="card_title">
                        <p>4.</p>
                    </div>
                    <div class="card_content">
                        <p>
                            Improve your oral & written communication (e-mail, Status Update, JIRA comments, Documentation).
                        </p>
                    </div>
                </div>

                <div class="card">

                    <div class="card_title">
                        <p>5.</p>
                    </div>
                    <div class="card_content">
                        <p>In most organized forms of writing, such as essays, paragraphs contains a topic sentence.
                            This topic sentence of the paragraph tells the reader what the paragraph reader what the
                            paragraph will be about.
                        </p>
                    </div>
                </div>

                <div class="card">

                    <div class="card_title">
                        <p>6.</p>
                    </div>
                    <div class="card_content">
                        <p>In most organized forms of writing, such as essays, paragraphs contains a topic sentence.
                            This topic sentence of the paragraph tells the reader what the paragraph reader what the
                            paragraph will be about.
                        </p>
                    </div>
                </div>

                <div class="card">

                    <div class="card_title">
                        <p>7.</p>
                    </div>
                    <div class="card_content">
                        <p>
                            Improve your oral & written communication (e-mail, Status Update, JIRA comments, Documentation).
                        </p>
                    </div>
                </div>

            </div>
        </div>
        
    </section>