<section class="main-section">
    <span class="current-task"> 
            {{'forgot-password.forgot-pass' | translate}}
    </span>
    <div class="main-contents">
        <div class="forgot-password">
            <form name="update-form" class="forgot-password__form" #forgotPassword = "ngForm">
                <div class="form-group">
                    <input #mailInput ngModel class="input_text" type="text" name="emp-mail" id="emp-mail" #mail="ngModel" 
                    [pattern]="mailPattern"  required />

                    <label [ngClass]="{'move-label':mail.invalid && mail.errors?.pattern}" for="emp-mail">{{'forgot-password.email' | translate}}</label>

                    <div *ngIf="mail.errors?.pattern" class="alert">
                        <p id="alertText">
                                {{'forgot-password.enter-mail' | translate}}
                        </p>
                    </div>
                    <div *ngIf="warning" class="alert">
                        <p id="alertText">
                                {{'forgot-password.invalid-mail' | translate}}
                        </p>
                    </div>
                </div>
                <button type="submit" name="submit" class="ripple" routerLink="/mailBox">{{'forgot-password.submit' | translate}}</button>
                <a>{{'forgot-password.login' | translate}}</a>
            </form>
        </div>
        <div class="avatar">
            <img src="assets/img/Asset-Forgot Password.svg" alt="forgot-password" />
        </div>
    </div>
</section>

<!-- <form (ngSubmit)="onSubmit(f)">
<div ngForm #f="ngForm" >
        <input name="first" ngModel required #first="ngModel">
        <input name="last" ngModel>
        <button>Submit</button>
</div>
</form> -->

