.forgot-password__form>a {
    text-decoration: none;
	color: #ff5063;
}

.main-section {
	margin: auto;
	width: 90%;
	margin-top: 20px;
	box-sizing: border-box;
	background-color: #fff;
	border-radius: 20px;
	padding: 20px 20px;
    box-shadow: 2px 2px 5px 1px #ccc;
}

.current-task {
	display: flex;
	color: #ff5063;
	font-weight: bold;
	font-size: 18px;
	letter-spacing: 0.2em;
	justify-content: flex-start;
}

.main-contents {
	display: flex;
	height: 300px;
	font-weight: bold;
	box-sizing: border-box;
	background-color: #fff;
	margin: 50px 0px;
}

.forgot-password, .avatar {
	width: 50%;
}

.avatar>img {
	width: 100%;
	height: 100%;
}

.forgot-password__form {
	margin: 50px 30px;
	font-weight: bold;
}

.form-group {
	position: relative;
	margin-bottom: 15px;
}

.alert {
	margin: 20px 0px;
	width: 300px
}

#alertText {
	color: red;
	font-size: 12px;
}

.input_text {
	font-size: 18px;
	padding: 10px 10px 10px 5px;
	display: block;
	width: 100%;
	font-weight: bold;
	border: none;
	border-bottom: 1px solid #757575;
	line-height: normal;
	transition: border-bottom 0.4s ease-in-out;
}

.input_text:focus {
	outline: none;
	border-bottom: 2px solid #ff5063;
}

label {
	color: #999;
	font-size: 12px;
	position: absolute;
	pointer-events: none;
	left: 5px;
	top: 10px;
	letter-spacing: 0.2em;
	transition: 0.2s ease all;
	-moz-transition: 0.2s ease all;
	-webkit-transition: 0.2s ease all;
}

/* active state */
.input_text:focus ~ label, .input_text:valid ~ label, .move-label {
	top: -30px;
	font-size: 14px;
	color: #ff5063;
	letter-spacing: 0.2em;
}

button {
	width: 150px;
	height: 50px;
	margin: 30px 0px;
	border: none;
	font-weight: bold;
	letter-spacing: 0.2em;
	outline: none;
	display: block;
	background-color: #ff5063;
	color: #fff;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px
		rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.ripple {
	background-position: center;
	transition: background 0.8s;
}

.ripple:hover {
	background: #ff5063 radial-gradient(circle, transparent 1%, #ff5063 1%)
		center/15000%;
}

.ripple:active {
	background-color: white;
	background-size: 100%;
	transition: background 0s;
}
