<section class="main-section">
        <span class="current-status">
                {{'password-changed.pass-changed' | translate}}
        </span>
        <div class="main-contents">
            <div class="changed-password">
            <p>{{'password-changed.hello' | translate}}</p>
                <p>
                        {{'password-changed.passwordchanged-info' | translate}}
                </p>
                    <a href="" class="ripple">{{'password-changed.login' | translate}}</a>
            </div>
            <div class="avatar">
                <img src="assets/img/password-changed.png" alt="Password-Change"/>
            </div>
        </div>
    </section>